@import './vars';
@import './template';


h1{
    color: $color;
    font-size: 50px;
    font-family: $font;
}

// button{
//     @extend %button
// }

header{
    background-color: rgb(243, 243, 164);
    .container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        @media (max-width:920px) {
            height: 100%;
            flex-direction: column;
            padding: 10px 0;
        }
        .logo{
            font-family: $font;
            flex-basis: 20%;
            button{
                @include btn(200px,30px,red)
            }
            h1{
                text-align: center;
            }

        }
        .nav{
            flex-grow: 1;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-around;
                li{
                    a{
                        text-decoration: none;
                        color: $color;
                    }
                }
            }
            button{
                @include btn(180px,40px,pink)
            }
        }
    }
    .contacts{
        flex-basis: 10%;
        p{
            font-family: $font;
            text-align: center;
        }
        button{
            @include btn(100px,30px,green)
        }
    }

}